<!--<table id="signincontent">-->
  <%= form_for(:session, :url => sessions_path) do |f| %>
    <td class="field input_wrapper_signin">
      <%= f.label :email, :value => "email" %><br />
      <%= f.text_field :email, :title => "Email" %>
    </td>
    <td class="field input_wrapper_signin">
      <%= f.label :password %><br />
      <%= f.text_field :password_clear, {:value => "Password" } %>
      <%= f.password_field :password %>
    </td>
    <td class="actions signinbutton">
      <%= f.submit "Sign in" %>
    </td>
<% end %>
<!--</div>-->
