

<%= render 'shared/error_messages', :object => f.object %>
  <div class="field input_wrapper">
    <%= f.label :name %><br />
    <%= f.text_field :name, { :title => "First and last name" } %>
  </div>
  <div class="field input_wrapper"> 
    <%= f.label :email %><br />
    <%= f.text_field :email, { :title => "Email" } %>
  </div>
  <div class="field input_wrapper">
    <%= f.label :password %><br />
		<%= f.text_field :password_clear, { :value => "Password" } %>
    <%= f.password_field :password, { :title => "Password" } %>
  </div>
  <div class="field input_wrapper">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.text_field :password_confirmation_clear, { :value => "Confirm password" } %>
		<%= f.password_field :password_confirmation, { :title => "Password confirmation" } %>
  </div>
