<% if signed_in? %>
<div class="centred" id="home">
  <div id="home_page_left">
    <p>Welcome <%= current_user.name %>. You have used <%= number_to_human_size(@resource_allowance_used) %> of the <%= number_to_human_size(current_user.storage_allowance) %> allowance.</p>
    <p><span>Current items in your intray:</span>
    </p>
    <span style="font-size: 12px;">To save files, right-click on the name and select 'save as'</span>
    <% if @resource_feed_items == nil && params[:search] == nil %>
    <br><p>Upload a file or save a link with the tools on the right.<br>
    Remember to refresh the list when you have done this</p>
    <% end %>
    
    <% if params[:search] %>
    <br><p>No resources were found to contain the phrase "<%= params[:search] %>" <br></p>
    <% else %>
    <%= will_paginate @resource_feed_items %>
      <table class="file_list_table">
        <%= render @resource_feed_items	 %>
      </table>	
        <%= will_paginate @resource_feed_items %>
    <% end %>
    </div>

    <div id="home_page_right">
      <%= render 'resources/add_link' %>
      <% if @user.uploader_option %>
        <%= render 'resources/ajax_upload_widget' %>
      <% else %>
        <%= render 'resources/mini_upload_widget' %>
      <% end %>
  <% if @user.uploader_option %>
    <span>Having problems uploading? </span>
    <%= link_to("Try the old school uploader", uploader_toggle_user_url(@user), :method => :put, :title => "uploader option") %>
  <% else %>
    <%= link_to("Try the drag and drop uploader", uploader_toggle_user_url(@user), :method => :put, :title => "uploader option") %>
  <% end %>
    </div>
</div>
<% else %>
<div id="signup" class="page_section signup_or_in container">
  <table class="profile">
    <tr>
      <td class="main">
        <h1>Store and share your files - no more memory sticks!</h1>	
        
          <ul>
          <li>Intray:</li>
          <li>Upload files.</li>
          <li>Share them with your colleages - with one click.</li>
           <li>Simple. Sign up now!</li>
          </ul>
      </td>
      <td class="sidebar round coloured_element">
        <h1>New to Intray? Join today!</h1>
	  <div id="signupform">
	  <%= form_for(@user) do |f| %>
	  <%= render 'users/fields', :f => f %>
	    <div class="actions bigbutton">
	      <%= f.submit "Sign up" %>
	    </div>
	    <% end %>
	  </div>
      </td>
     </tr>
  </table>
</div>
<% end %>
