<header class="">
  <% logo = image_tag("/images/logo6.png", :alt => "Intray", :class => "round logo") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <table>
      <tr>
        <% if signed_in? %>
          <td class="text_link"><%= link_to "Home", root_path %></td>
          <td><%= link_to "Profile", current_user %></td>
          <td><%= link_to "Sign out", signout_path, { :method => :delete, :id => :sign_out} %></td>
        <% else %>
          <%= render 'sessions/new' %>
        <% end %>
      </table>
		
  </nav>
</header>
